@font-face {
  font-family: "THNiramitAS-Bold";
  src: url("../../asset/fonts/THNiramitAS-Bold.woff2") format("woff2"),
    url("../../asset/fonts/THNiramitAS-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THNiramitAS-BoldItalic";
  src: url("../../asset/fonts/THNiramitAS-BoldItalic.woff2") format("woff2"),
    url("../../asset/fonts/THNiramitAS-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "THNiramitAS-AS";
  src: url("../../asset/fonts/THNiramitAS.woff2") format("woff2"),
    url("../../asset/fonts/THNiramitAS.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "THNiramitAS-Italic";
  src: url("../../asset/fonts/THNiramitAS-Italic.woff2") format("woff2"),
    url("../../asset/fonts/THNiramitAS-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

$font-family-default: Arial, Helvetica, Times, serif;
$font-family-regular: "THNiramitAS-AS", $font-family-default;
$font-family-bold: "THNiramitAS-Bold", $font-family-default;
