@import "../shared/variable.scss";
@import "../shared/mixin.scss";

header {
  background-color: $red !important;

  @include screen(desktop) {
    background-color: $white !important;
    padding-bottom: 30px !important;
  }
}

.navbar-collapse {
  justify-content: center;
}

.navbar-brand {
  margin: 0;

  @include screen(tablet-landscape) {
    padding-top: 30px;
  }

  img {
    width: 80px;

    @include screen(tablet-landscape) {
      width: 150px;
    }
  }

  &.desktop {
    justify-self: center;
  }
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: $white;

  @include screen(desktop) {
    color: $black;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.55);

  @include screen(desktop) {
    color: rgba(0, 0, 0, 0.55);
  }
}

.nav-link {
  font-family: $font-family-bold;

  @include screen(tablet-landscape) {
    font-size: 21px;
  }
}
