@import "../shared/variable.scss";
@import "../shared/mixin.scss";

header {
  background-color: $red !important;

  @include screen(desktop) {
    background-color: $white !important;
  }
}

.navbar-collapse {
  justify-content: center;
}

.navbar-brand {
  margin: 0;

  @include screen(tablet-landscape) {
    padding-top: 30px;
  }

  img {
    width: 80px;

    @include screen(tablet-landscape) {
      width: 150px;
    }
  }

  &.desktop {
    justify-self: center;
  }
}

.nav-link {
  font-family: $font-family-bold;
  color: $white !important;

  @include screen(tablet-landscape) {
    font-size: 30px;
  }

  @include screen(desktop) {
    color: $black !important;
  }
}
